body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    text-align: center;
    color: #444;
  }
  
  .playground {
    margin: 40px 0;
  }
  
  /* FLEXBOX ALANI */
  .flex-container {
    display: flex;
    flex-direction:row; /* Değiştir: row, column, row-reverse, column-reverse */
    position:sticky;  /* relative: başka elemente bağlı olarak hareket eder(şunun sağında bunun solunda)  */
    flex-wrap:wrap;  /* Sığmayan satırı aşağıya büker*/
    flex-shrink: 3;  /* verilen sayı kadar kutuyu sıkıştırır shrink den geliyor*/ 
    justify-content:space-around; /* Değiştir: flex-start, flex-end, center, space-between, space-around, space-evenly */
    align-items:flex-end; /* Değiştir: stretch, flex-start, flex-end, center, baseline */
    gap: 10px;
    background-color: #d0e6ff;
    padding: 60px;
    height: 200px;
    border-radius: 10px;
  }
  
  .flex-item {
    background-color: #2196f3;
    color: rgb(255, 255, 255);
    padding: 60px;
    border-radius: 5px;
    font-weight: bolder;
  }
  
  /* GRID ALANI */
  .grid-container {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr); /* sütunları dolduruyor */
    grid-template-rows: repeat(2, 100px); /* satırları dolduruyor */
    justify-items: stretch; /* Değiştir: stretch, start, end, center */
    align-items: center; /* Değiştir: stretch, start, end, center */
    gap: 10px;
    background-color: #ffe0cc;
    padding: 20px;
    border-radius: 10px;
  }
  
  .grid-item {
    background-color: #ff7043;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border-radius: 5px;
  }
  